/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

/* Estilo para o header transparente */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo preto transparente */
    color: white;
    padding: 1rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    /* Espaça logo e menu */
    align-items: center;
}

/* Estilo para a logo */
.logo img {
    height: 50px;
    /* Ajuste o tamanho da logo conforme necessário */
}

/* Estilo para o menu de navegação */
.header nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
}

/* Estilo para o section com a imagem de fundo */
.hero {
    height: 100vh;
    /* Cobre toda a altura da tela */
    background-image: url('img/fundo-sobrenos.png');
    /* Caminho para a imagem de fundo */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

/* Estilo para o restante do conteúdo */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* Ajuste conforme necessário */
}

.text {
    font-size: 18px;
    width: 60%;
    /* Ajuste a largura para controlar o comprimento da linha e o número de linhas */
    max-width: 900px;
    /* Define um limite máximo para a largura */
    text-align: center;
    /* Centraliza o texto */
    line-height: 1.5;
    /* Ajusta o espaçamento entre linhas */
    margin: 0 auto;
    /* Centraliza o parágrafo dentro do seu contêiner */
}

.titulo-com-linha {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    position: relative;
    display: inline-block;
    font-size: 28px;
    /* Tamanho da fonte do título */
}

.titulo-com-linha::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    /* Distância da linha em relação ao título */
    height: 2px;
    /* Altura da linha */
    background-color: red;
    /* Cor da linha */
}

.container {
    text-align: center;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.title {

    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    margin: auto;
}

.imagens {
    display: flex;
    transition: transform 0.5s ease;
}

.imagens img {
    width: 33.33%;
    /* Cada imagem ocupa um terço do carrossel */
    border-radius: 10px;
}

.botoes {
    margin-top: 10px;
    /* Espaço acima dos botões */
}

button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    /* Espaço entre os botões */
}

button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.caixas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0, auto;
    padding: 100px; /* Adiciona espaçamento interno para afastar das extremidades */
    max-width: 90%; /* Reduz a largura máxima do container para afastar das bordas */

}

.caixas .caixa1,
.caixas .caixa2,
.caixas .caixa3 {
    text-align: start;
    flex: 1;
    margin: 0 10px;
    /* Adiciona espaçamento entre as caixas */
}

.caixas img {
    width: 100%;
    height: auto; /* Mantém a altura proporcional à largura */
    display: block;
    margin: 0 auto 10px auto; /* Centraliza a imagem e adiciona margem inferior */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço disponível */
    max-height: 300px; /* Limita a altura máxima para achatar as imagens */
}


.caixas h2 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
    color: #B71C1C;
}

.caixas p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
    color: #333;
}