
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
#container1 {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}

.imgBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

#headerChurras {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
}

.imgHeader {
    margin-left: 20px;
    height: 80px; 
    cursor: pointer;
}


#textRight {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 50px;
    font-size: 11px;
    color: #ffffff; 
    font-family: "M PLUS 1p";
}

#textRight svg, #textRight h1{
    cursor: pointer;
}

.searchIcon, .shopIcon{
    color: white;
    width:22px; 
    height:22px;
    stroke-width: 4;
}

#BackSubHeader {
    background-color: black;
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
}

#subHeader {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 150px;
    align-items: center;
    margin-left: 100px;
}
#subHeader .titles{
    color: white;
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
}

/* Fim Header */



#titulao01{
    position: absolute;
    bottom: 19.5rem;
    left: 32rem;
    z-index: 2;
    display: flex;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

#titulao02{
    position: absolute;
    bottom: 16rem;
    left: 38rem;
    z-index: 2;
    display: flex;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 700;
    align-items: center;
    text-align: center;
}


#container2 {
    background: linear-gradient(to top, #000000, #2b2b2b);
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 250px;
}
#titlePQ {
    color: #ffffff;
    font-size: 35px;
    font-family: 'Kumbh Sans', sans-serif;
    margin-left: 110px;
    margin-top: 60px;
}

#subTitlePQ {
    color: white;
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 110px;
    margin-top: 10px;
}

#redCircles1, #redCircles2, #redCircles3 {
    background-color: #C33939;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 50px rgba(220, 80, 80, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0 auto 30px;
}


#globalRedCircles {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 170px;
}

#globalRedCircles h1, h2 {
    text-align: center;
}

#tituloExcelencia, #tituloConfiabilidade, #tituloQualidade {
    margin-bottom: 10px; 
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
}

.subTitleExcelencia, .subTitleConfiabilidade, .subTitleQualidade {
    font-size: 15px;
    line-height: 1.5;
    max-width: 400px;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

#titleServices {
    font-size: 45px;
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 110px;
    margin-top: 50px;
    color: #C33939;
}

#h1Churrasqueiras {
    font-size: 35px;
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 110px;
    margin-top: 30px;
    color: #000000;
}

#h1Piscinas {
    font-size: 35px;
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 110px;
    margin-top: 30px;
    color: #000000;
}

#h1Banheiras {
    font-size: 35px;
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 110px;
    margin-top: 30px;
    color: #000000;
}















/* Footer */

#faixa-preta2 {
    background-color: #000000;
    color: white;
    display: block;
    align-items: center;
    text-align: center;
    padding: 55px;
    margin-top: 50px;
}

.titleFaixaPreta {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 30px;
}

.bi-instagram, .bi-linkedin, .bi-facebook, .bi-pinterest {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 32px;
    cursor: pointer;

}
