

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Container1 */
#container1 {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}

.imgBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.95;
    z-index: 1;
}

#headerChurras {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
}

.imgHeader {
    margin-left: 20px;
    height: 80px; 
    cursor: pointer;
}

.QmSomos {
    
    font-size: 25px;
    color: #ffffff; 
    font-family: "M PLUS 1p";
}

.textoServices {
    margin-right: 50px;
    font-size: 25px;
    color: #ffffff; 
    font-family: "M PLUS 1p";
}

#textRight {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 50px;

}

#textRight svg, #textRight h1{
    cursor: pointer;
}

.searchIcon, .shopIcon{
    color: white;
    width:22px; 
    height:22px;
    stroke-width: 4;
}

#BackSubHeader {
    background-color: black;
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
}

#subHeader {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 150px;
    align-items: center;
    margin-left: 100px;
}
#subHeader .titles{
    color: white;
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    cursor: pointer;
}

#titulao01{
    position: absolute;
    bottom: 19.3rem;
    left: 36rem;
    z-index: 2;
    display: flex;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

/* Fim do Container1 */


.titleContainer2 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 230px;
    margin-top: 120px;
}

.titleContainer2_2 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 570px;
    margin-bottom: 120px;
}

/* blocosServicos */

.imgBloco1, .imgBloco2, .imgBloco3, .imgBloco4, .imgBloco5 {
    border-radius: 5px;
    display: flex;
    position: relative;
    z-index: 1;
    object-fit: cover;
} 

.titleBloco01{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 66rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.titleBloco02{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 66rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.titleBloco03{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 66rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.titleBloco04{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 100.8rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.titleBloco05{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 100.8rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.subtitleBloco01{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 86.6rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}
.subtitleBloco02{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 86.6rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}
.subtitleBloco03{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 86.6rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}
.subtitleBloco04{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 121.5rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}
.subtitleBloco05{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 121.5rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}

#linhavermelha {
    width: 50%; /* Ajuste a largura conforme necessário */
    height: 2px; /* Define a altura da linha */
    background-color: red; /* Define a cor vermelha */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
    margin-bottom: 80px;
    margin-top: 80px;
}

/* Fim dos blocosServicos */

#linhavermelha2 {
    width: 50%; /* Ajuste a largura conforme necessário */
    height: 2px; /* Define a altura da linha */
    background-color: red; /* Define a cor vermelha */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
    margin-bottom: 180px;
    margin-top: 80px;
}

#grupoBlocos1{
    display: flex;
    justify-content: space-evenly;
    
}

#grupoBlocos2{
    display: flex;
    justify-content: space-evenly;
    
}

#faixa-preta1 {
    background-color: #000000;
    color: white;
    display: flex;
    
    padding: 55px;
    margin-top: 50px;
}


#orcamento{
    margin-bottom: 220px;
    
}

#linhavermelhaOrcamento{
    width: 30%; /* Ajuste a largura conforme necessário */
    height: 2px; /* Define a altura da linha */
    background-color: red; /* Define a cor vermelha */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleOrcamento{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.subtitleOrcamento{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    opacity: 0.5;
}

#quadroBrancoOrcamento{
    margin-left: 80px;
    padding: 60px;
    display: flex;
    color: black;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

#contatos{
    margin-right: 80px;
}

#Telefone1, #Telefone2, #email1, #email2 {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.textoTelefone1, .textoTelefone2, .textoEmail1, .textoEmail2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-left: 5px;
}



#QuadroLogoContatos { 
    border: 2px solid red;
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logoContatos{
    width: 200px;
    margin-left: 15px;
}

#linhavermelhaServices {
    width: 50%; /* Ajuste a largura conforme necessário */
    height: 2px; /* Define a altura da linha */
    background-color: red; /* Define a cor vermelha */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
    margin-bottom: 110px;
    margin-top: 20px;
}

.lastServices{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-left: 530px;
    margin-top: 130px;
}

/* Começo do carrosel */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin: 20px auto;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 360px; 
    height: 350px; /* Defina uma altura fixa para todas as imagens */
    margin: 0 10px;
    border-radius: 10px; 
    object-fit: cover; /* Garante que a imagem ocupe o espaço corretamente */
}

/* Controle dos botões de navegação */
.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
}

.carousel-controls button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
}

/* fim do carrossel */







/* footer */
footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    
    padding: 10px 0;
    
    display: flex;
    
    justify-content: center;
    
    align-items: stretch;
    
}

.footer-container {
    display: flex;
    
    justify-content: space-between;
   
    align-items: stretch;
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    
}

.footer-contact p {
    display: flex;
    
    align-items: center;
    
}


.footer-contact i {
    margin-right: 8px;
    
    color: #333;
    
}


.footer-logo img {
    display: flex;
    margin-top: 30px;
    margin-right: 140px;
    width: 150px;
    
}

.footer-location,
.footer-contact
{
    margin-right: 90px;
}

.footer-location,

.footer-links {

    flex: 1;
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
    
}

.footer-contact {
    flex: 1;
    margin-bottom: 20px;
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
}

.footer-selos img {
    width: 80px;
   
    margin-top: 10px;
}

.footer-location h3,
.footer-links h3,
.footer-selos h3 {
    font-size: 18px;
    
    font-weight: bold;
  
    margin-bottom: 15px;
    
}



.footer-contact h3 {
    justify-content: start;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}


.footer-links a {
    text-decoration: none;
    
    color: black;
    
}

.footer-links a:hover {
    text-decoration: underline;
    
    color: #B71C1C;
}

.footer-links {
    font-size: 14px;
    
    margin-bottom: 15px;
    margin-right: 60px;
}

.footer-selos p {
    font-weight: bold;
    margin-bottom: 10px;
}

.subfooter {
    border-color: #000000;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    font-size: 11px;
    margin: 5px 0;
    color: #333;
    
}

/* fim do footer */

#faixa-preta2 {
    background-color: #000000;
    color: white;
    display: block;
    align-items: center;
    text-align: center;
    padding: 55px;
    margin-top: 50px;
}

.titleFaixaPreta {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 30px;
}

.bi-instagram, .bi-linkedin, .bi-facebook, .bi-pinterest {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 32px;
    cursor: pointer;
}