

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Container1 */
#container1 {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}

.imgBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.95;
    z-index: 1;
}

#headerChurras {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
}

.imgHeader {
    margin-left: 20px;
    height: 80px; 
    cursor: pointer;
}


#textRight {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 50px;
    font-size: 11px;
    color: #ffffff; 
    font-family: "M PLUS 1p";
}

#textRight svg, #textRight h1{
    cursor: pointer;
}

.searchIcon, .shopIcon{
    color: white;
    width:22px; 
    height:22px;
    stroke-width: 4;
}

#BackSubHeader {
    background-color: black;
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
}

#subHeader {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 150px;
    align-items: center;
    margin-left: 100px;
}
#subHeader .titles{
    color: white;
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    cursor: pointer;
}

#titulao01{
    position: absolute;
    bottom: 19.3rem;
    left: 36rem;
    z-index: 2;
    display: flex;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

/* Fim do Container1 */


.titleContainer2 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 230px;
    margin-top: 120px;
}

.titleContainer2_2 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 570px;
    margin-bottom: 120px;
}

/* blocosServicos */

.imgBloco1, .imgBloco2, .imgBloco3, .imgBloco4, .imgBloco5 {
    border-radius: 5px;
    display: flex;
    position: relative;
    z-index: 1;
    object-fit: cover;
    
} 

.titleBloco01{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 66rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.titleBloco02{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 66rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.titleBloco03{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 66rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.titleBloco04{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 100.8rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.titleBloco05{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 100.8rem;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.subtitleBloco01{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 86.6rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}
.subtitleBloco02{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 86.6rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}
.subtitleBloco03{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 86.6rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}
.subtitleBloco04{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 121.5rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}
.subtitleBloco05{
    color: white;
    cursor: pointer;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 121.5rem;
    margin-left: 20px;
    font-family: 'Lora', serif;
}

#linhavermelha {
    width: 50%; 
    height: 2px; 
    background-color: red; 
    margin: 0 auto; 
    margin-bottom: 80px;
    margin-top: 80px;
}

/* Fim dos blocosServicos */

#linhavermelha2 {
    width: 50%; 
    height: 2px; 
    background-color: red; 
    margin: 0 auto; 
    margin-bottom: 180px;
    margin-top: 80px;
}

#grupoBlocos1{
    display: flex;
    justify-content: space-evenly;
    
}

#grupoBlocos2{
    display: flex;
    justify-content: space-evenly;
    
}

#faixa-preta1 {
    background-color: #000000;
    color: white;
    display: flex;
    padding: 55px;
    margin-top: 50px;
}


#orcamento{
    margin-bottom: 220px;
    
}

#linhavermelhaOrcamento{
    width: 30%; 
    height: 2px; 
    background-color: red; 
    margin: 0 auto; 
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleOrcamento{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.subtitleOrcamento{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    opacity: 0.5;
    
}

#quadroBrancoOrcamento{
    align-items: center;
    text-align: center;
    margin-left: 80px;
    padding: 60px;
    display: flex;
    color: black;
    background-color: white;
    border-radius: 15px;
}

#contatos{
    margin-right: 80px;
}

#Telefone1, #Telefone2, #email1, #email2 {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.textoTelefone1, .textoTelefone2, .textoEmail1, .textoEmail2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-left: 5px;
}



#QuadroLogoContatos { 
    border: 2px solid red;
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logoContatos{
    width: 200px;
    margin-left: 15px;
}

.bi-instagram, .bi-linkedin, .bi-facebook, .bi-pinterest {
    width: 45px;
    height: 45px;
    display: inline;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}


/* footer */
footer {
    background-color: #ffffff;
    /* Cor de fundo */
    padding: 30px 0;
    /* Espaçamento acima e abaixo */
    display: flex;
    /* Usando flexbox */
    justify-content: center;
    /* Centraliza o conteúdo */
    align-items: stretch;
    /* Estica os itens para a mesma altura */
}

.footer-container {
    display: flex;
    /* Flexbox para a organização */
    justify-content: space-between;
    /* Espaça os itens */
    align-items: stretch;
    /* Estica os itens para a mesma altura */
    width: 100%;
    /* Largura total */
    max-width: 1200px;
    /* Largura máxima */
    padding: 0 40px;
    /* Espaçamento lateral */
}

.footer-contact p {
    display: flex;
    /* Usar flexbox para alinhar ícones e texto */
    align-items: center;
    /* Centraliza verticalmente */
}

.footer-contact i {
    margin-right: 8px;
    /* Espaço entre o ícone e o texto */
    color: #333;
    /* Cor do ícone */
}


.footer-logo img {
    display: flex;
    margin-top: 45px;
    margin-right: 90px;
    width: 150px;
    /* Tamanho da logo */
}

.footer-location,
.footer-contact
{
    margin-right: 90px;
}

.footer-location,
.footer-contact,
.footer-links {

    flex: 1;
    /* Flexível para ocupar espaço igual */
    display: flex;
    /* Flexbox para alinhar conteúdo */
    flex-direction: column;
    /* Alinha os itens verticalmente */
    justify-content: center;
    /* Centraliza verticalmente */
}

.footer-selos img {
    width: 80px;
    /* Tamanho da imagem dos selos */
    margin-top: 10px;
    /* Espaço acima da imagem */
}

.footer-location h3,
.footer-contact h3,
.footer-links h3,
.footer-selos h3 {
    font-size: 18px;
    /* Tamanho da fonte dos títulos */
    font-weight: bold;
    /* Negrito */
    margin-bottom: 15px;
    /* Espaço abaixo do título */
}

.footer-contact h3 {
    justify-content: start;
}


.footer-links a {
    text-decoration: none;
    /* Remove sublinhado */
    color: black;
    /* Cor do texto */
}

.footer-links a:hover {
    text-decoration: underline;
    /* Sublinha ao passar o mouse */
    color: #B71C1C;
}

.footer-links {
    font-size: 14px;
    /* Tamanho da fonte dos links */
    margin-bottom: 15px;
    margin-right: 60px;
}

.footer-selos p {
    font-weight: bold;
    /* Negrito */
    margin-bottom: 10px;
    /* Espaço abaixo do texto */
}

.subfooter {
    border-color: #000000;
    border-radius: 10px;
    text-align: center;
    /* Centraliza o texto */
    padding: 20px;
    /* Adiciona espaçamento ao redor */
    background-color: #ffffff;
    /* Cor de fundo opcional */
    font-size: 11px;
    margin: 5px 0;
    /* Espaçamento entre os parágrafos */
    color: #333;
    /* Cor do texto */
}